<!DOCTYPE html>
<html lang="en" data-critters-container xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Task Management</title>
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{favicon.ico}">
    <style>
        @import"https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";body{margin:0;background-color:#b4b4b4;overflow-x:hidden}
    </style>
    <link rel="stylesheet" th:href="@{styles.e544d4ebda8d7ec6.css}" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" th:href="@{styles.e544d4ebda8d7ec6.css}">
    </noscript>
</head>
<body>
<app-root></app-root>
<script th:src="@{runtime.d2376b664943ecb8.js}" type="module"></script>
<script th:src="@{polyfills.1d61894a2c7880ee.js}" type="module"></script>
<script th:src="@{main.b758dfa97ba21384.js}" type="module"></script>
</body>
</html>
