<!DOCTYPE html>
<html lang="en" data-critters-container xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Task Management</title>
    <base>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        body {
          margin: 0;
          background-color: rgb(180, 180, 180);
          overflow-x: hidden;
        }
    </style>
    <style>@import"https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap";</style>
    <link rel="stylesheet" th:href="@{/styles.09924eca2a1de20c.css}" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" th:href="@{/styles.09924eca2a1de20c.css}">
    </noscript>
</head>
<body>
<app-root></app-root>
<script th:src="@{/runtime.d2376b664943ecb8.js}" type="module"></script>
<script th:src="@{/polyfills.1d61894a2c7880ee.js}" type="module"></script>
<script th:src="@{/main.b7ec5133887b4c78.js}" type="module"></script>
</body>
</html>
